.shop{
    width: 100%;
    height: 280px;
    background-image: url("https://cdn.discordapp.com/attachments/1091845697462083585/1289269002828255345/bg-breadcrumb.jpg?ex=67358293&is=67343113&hm=15dcb9146a790ae68d8ab5dd9ddfb5063d96c8719213422a7f04c711cb22b0d5&");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.shop-page-title {
    text-align: center;
     
 }

 .shop-page-title h1{
    font-size: 40px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}


.best-collection-area-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
  }

 
  
  .best-collection-area {
    display: flex;
    justify-content: center;
    overflow: hidden; /* Taşmayı gizle */
    width: 100%;
    padding: 20px;
  }
  
 


 